/* If the screen size is 760px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 760px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        transition: all 0.5s ease;
    }
    h1 {
        font-size: 3.3rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    h4 {
        font-size: 2.2rem;
    }
    h5 {
        font-size: 2rem;
    }
    h6 {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.35rem;
        transition: all 0.5s ease;
    }
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}