@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
}

:root {
    --dark: #322732;
    --light: #F0EEF5;
    --purple-dark: #5A1F5F;
    --purple-light: #AC569A;
    --green: #9BC846;
    --cyan: #49ADAD;
    --blue: #2D6CB5;
    --dark-blue: #43475F;
    --white: #fff;
    --black: #000000;
    --gray: #6b6872;
    --soft-gray: #EBE8E8;
    --light-gray: #DCDCDC;
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    transition: 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.5;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    padding: 20px 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: var(--white);
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}

h4 {
    font-size: 2.8rem;
    font-weight: 600;
}

h5 {
    font-size: 2.5rem;
    font-weight: 600;
}

h6 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    color: var(--white);
}

.section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--gray);
    text-align: center;
    padding: 70px 80px;
}

svg {
    display: block;
}

.section-button {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}

a.button1 {
    display: inline-block;
    padding: 0.8em 2em;
    background-color: var(--purple-dark);
    font-size: 1.5em;
    margin: 0 1.3em 1.3em 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    transition: all 0.2s;
    padding: 10px 25px;
}

a.button1:hover {
    color: var(--black);
    background-color: var(--white);
}


/* Nav */

nav {
    position: relative;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 100px;
    background-color: var(--dark);
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
}

nav .logo-image .img-fluid {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    overflow: hidden;
    margin-top: 6px;
    margin-right: 6px;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 50%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1rem;
    font-size: 16px;
    font-weight: normal;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}

nav .links a:hover {
    border: solid 2px var(--white);
    border-radius: 3px;
    transition: .3s ease filter;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}


/* End Nav */


/* Section 1 */

#section1 .section-div {
    background: var(--dark);
}

.section1-curved {
    background: var(--dark);
}

.timer {
    color: var(--white);
    margin: 0 auto;
    text-align: center;
}

#section1 h1 {
    margin: 50px 0 0 0;
}

#section1 p {
    max-width: 1180px;
}

#section1 li {
    display: inline-block;
    font-size: 2.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#section1 li span {
    display: block;
    font-size: 5rem;
}

#section1 a.button1 {
    background-color: var(--green);
    color: var(--purple-dark);
}

#section1 a.button1:hover {
    color: var(--black);
    background-color: var(--white);
}


/* End Section 1 */


/* Section 2 */

#section2 .section-div {
    background: var(--cyan);
}

.section2-curved {
    background: var(--cyan);
}

#section2 h2 {
    color: var(--purple-dark);
    margin-bottom: 50px;
}

#section2 .video-container {
    width: 60%;
    padding-top: 36.25%;
    height: 0px;
    position: relative;
}

#section2 .videoclip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-item {
    flex: 1 0 20%;
    width: 5rem;
    margin: 5px;
}

.social-item img {
    filter: grayscale(1);
    transition: .2s ease filter;
}

#section2 .social-item:hover img {
    filter: grayscale(0);
}


/* End Section 2 */


/* Section 3 */

#section3 .section-div {
    background: var(--white);
}

.section3-curved {
    background: var(--white);
}

#section3 h5 {
    color: var(--purple-dark);
    font-weight: 600;
}

.cart {
    display: flex;
    justify-content: center;
}

.cart>* {
    flex: 1;
    margin: 20px 5px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray);
    background-color: var(--white);
}

.cart-item>p {
    text-align: center;
    padding: 2px 1px;
    color: var(--gray)
}

.cart-image {
    flex-direction: row;
    width: 30%;
    height: auto;
    align-self: center;
    padding-top: 5px;
}


/* End Section 3 */


/* Section 4 */

#section4 .section-div {
    background: var(--light-gray);
}

.section4-curved {
    background-color: var(--light-gray);
}

#section4 h5 {
    color: var(--purple-dark);
    font-weight: 600;
}

#section4 p {
    color: var(--purple-dark);
    margin: 0;
    padding: 0;
}

#section4 .news-title {
    text-align: left;
    padding: 2px 15px;
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
}

#section4 .read-more {
    text-align: left;
    padding: 2px 15px;
    color: var(--gray);
    font-size: 1rem;
    font-weight: 300;
}

.news-image {
    flex-direction: row;
    width: 80%;
    height: auto;
    align-self: center;
    padding-top: 5px;
}

.main-parent {
    display: flex;
    justify-content: center;
}

.main-parent>div {
    flex: 1;
    margin: 20px 5px;
    min-width: 100px;
    position: relative;
}

.image {
    width: 100%;
}

.within-text {
    background-color: purple;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 5px;
}


/* End Section 4 */


/* Section 5 */

#section5 .section-div {
    background-color: var(--white);
}

.section5-curved {
    background-color: var(--white);
}

.section5-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    align-content: center;
}

.section5-col-left {
    flex: 1;
    flex-direction: column;
    text-align: left;
    padding: 10px 40px;
}

.section5-col-right {
    flex: 1;
    flex-direction: column;
    text-align: left;
    padding: 10px 40px;
}

#section5 p {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
    margin: 15px 0;
}

#section5 .benefit-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#section5 h5 {
    color: var(--purple-dark);
    font-weight: 600;
}


/* End Section 5 */


/* Section 6 */

#section6 .section-div {
    background: var(--soft-gray);
    /* background-image: url("img/token-generation-bg.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section6-curved {
    background: var(--soft-gray);
}

#section6 h3 {
    color: var(--purple-dark);
    font-weight: 600;
}

#section6 .timer {
    color: var(--purple-dark);
    margin: 0 auto;
    text-align: center;
}

#section6 li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#section6 li span {
    display: block;
    font-size: 4.5rem;
}

#section6 p {
    max-width: 400px;
    color: var(--gray);
    font-size: 1.2rem;
}

#section6 .token-parent {
    /* display: flex;
    flex-direction: column;
    max-width: 80%; */
    display: block;
    margin: 10px auto;
    width: 80%;
    max-width: 460px;
}

#section6 .token-child {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0 10px;
}

#section6 .token-child:nth-child(even) {
    background-color: var(--light-gray);
}

#section6 .token-child:nth-child(odd) {
    background-color: var(--white);
}

#section6 .text-left {
    flex: 1;
    text-align: left;
    font-weight: bold;
}

#section6 .text-right {
    flex: 1;
    text-align: right;
}

.sales {
    display: flex;
    justify-content: center;
}

.sales>* {
    flex: 1;
    margin: 20px 5px;
}

.sales-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#section6 .sales-item>p {
    text-align: center;
    border-bottom: 1px solid var(--gray);
    padding: 5px 50px;
    height: auto;
    width: 100%;
    color: var(--white);
}

.sales-item>p:nth-child(1) {
    background-color: var(--purple-dark);
}

.sales-item>p:nth-child(2) {
    background-color: var(--purple-light);
}

.sales-item>p:nth-child(3) {
    background-color: var(--purple-light);
}

.sales-item>p:nth-child(4) {
    background-color: var(--purple-dark);
    height: 2px;
}

#section6 h5 {
    color: var(--purple-dark);
    font-weight: 600;
}

.section6-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    align-content: center;
}

.section6-col-left {
    flex: 1;
    flex-direction: column;
    text-align: left;
    padding: 10px 40px;
}

.section6-col-right {
    flex: 1;
    flex-direction: column;
    text-align: left;
    padding: 10px 40px;
}

#section6 .section6-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


/* End Section 6 */


/* Section 7 */

#section7 .section-div {
    background: var(--light-gray);
}

.section7-curved {
    background: var(--light-gray);
}

#section7 h5 {
    color: var(--purple-dark);
    font-weight: 600;
}


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
}


/* Container around content */

.container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 80%;
    max-width: 100%;
}


/* The circles on the timeline */

#section7 p {
    color: var(--dark);
    font-size: 1.2rem;
}

#section7 h6 {
    color: var(--dark);
    font-size: 1.8rem;
    padding-right: 1rem;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #8a8a8a;
    border: 4px solid #a3a3a3;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the right */

.right {
    left: 10%;
}


/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--white);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--white) transparent transparent;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}


/* The actual content */

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 10px 30px;
    width: 100%;
    background-color: var(--white);
    position: relative;
}

.content:hover {
    background-color: var(--green);
    color: var(--purple-dark);
}


/* End Section 7 */


/* Section 8 */

#section8 .section-div {
    background: var(--white);
}

.section8-curved {
    background: var(--white);
}

#section8 .section-div h3 {
    color: var(--purple-dark);
}

#section8 .section-div h5 {
    color: var(--purple-dark);
    font-size: 2rem;
}

#section8 .section-div h6 {
    color: var(--dark);
    font-size: 1rem;
}

#section8 .cast-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

#section8 .cast-column {
    flex: 1 0 100px;
}

#section8 .cast-container p {
    color: var(--black);
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px;
}

#section8 .cast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#section8 img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid var(--light-gray);
}

#section8 .cast-back-container p {
    color: var(--white);
    font-size: 1rem;
    padding: 10px;
}

#section8 .cast-back-container a {
    color: var(--white);
    font-size: 1rem;
    padding: 30px 10px;
    text-decoration: none;
}

.flip-box {
    background-color: transparent;
    width: 400px;
    max-width: 400px;
    height: 420px;
    perspective: 1000px;
    margin: 5px 30px;
}


/* This container is needed to position the front and back side */

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an vertical flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}


/* Position the front and back side */

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side */

.flip-box-front {
    background-color: transparent;
}


/* Style the back side */

.flip-box-back {
    background-color: var(--purple-light);
    padding: 2px 10px;
    text-align: left;
    transform: rotateX(180deg);
}


/* End Section 8 */


/* Section 9 */

#section9 .section-div {
    background: var(--white);
}

#section9 h5 {
    color: var(--purple-dark);
    font-weight: 600;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.slider::before,
.slider::after {
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 200px;
    width: 250px;
}


/* cell number */

.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}


/* End Section 9 */


/* Section 10 */

#section10 .section-div {
    background: var(--purple-dark);
}

.section10-curved {
    background: var(--purple-dark);
}

#section10 a.button1 {
    display: inline-block;
    padding: 0.8em 2em;
    background-color: var(--green);
    font-size: 1.5em;
    margin: 0 1.3em 1.3em 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    transition: all 0.2s;
}

#section10 a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}


/* End Section 10 */


/* Section 11 */

#section11 .section-div {
    background: var(--dark-blue);
}

.section11-curved {
    background: var(--dark-blue);
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: var(--black);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}


/* End Section 11 */


/* Footer */

footer .footer-basic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 50px;
}

footer .footer-logo {
    flex: 1;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
}

footer .footer-image .img-fluid {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    margin-top: 6px;
    margin-right: 6px;
}

footer .footer-logo p {
    color: var(--gray);
}

footer .list-inline {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

footer .list-inline-item {
    padding: 0 10px;
}

footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul a:hover {
    opacity: 1;
}

.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}


/* End Footer */

@media only screen and (max-width: 600px) {
    .slider {
        width: 640px;
    }
    .main-parent {
        flex-direction: column;
    }
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .right {
        left: 0%;
    }
    .cast-column {
        width: 100%;
        display: block;
    }
}


/* Tablet */

@media only screen and (min-width:321px) and (max-width:768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    /* Section 1*/
    #section1 .timer {
        color: var(--white);
        margin: 0 auto;
        text-align: center;
    }
    #section1 li {
        font-size: 1.125rem;
        padding: .75rem;
    }
    #section1 li span {
        font-size: 3.375rem;
    }
    #section1 li {
        font-size: 1.125rem;
        padding: .75rem;
    }
    #section1 li span {
        font-size: 3.375rem;
    }
    /* End Section 1*/
    /* Section 2 */
    #section2 .videoclip {
        width: 60% auto;
        height: 200px;
    }
    /* End Section 2 */
    /* Section 3 */
    .cart,
    .news,
    .section5-row,
    .section6-row,
    .cast-row {
        flex-direction: column;
    }
    /* End Section 3 */
    /* Section 4 */
    #section4 .news-item .news-title {
        text-align: center;
        padding: 2px 24px;
        color: var(--black);
        font-size: 1rem;
        font-weight: 600;
    }
    #section4 .news-item .read-more {
        text-align: center;
        padding: 2px 15px;
        color: var(--gray);
        font-size: 1rem;
        font-weight: 300;
    }
    /* End Section 4 */
    /* Section6 */
    #section6 .timer {
        color: var(--purple-dark);
        margin: 0 auto;
        text-align: center;
    }
    #section6 li {
        font-size: 1.125rem;
        padding: .75rem;
    }
    #section6 li span {
        font-size: 3.375rem;
    }
    #section6 li {
        font-size: 1.125rem;
        padding: .75rem;
    }
    #section6 li span {
        font-size: 3.375rem;
    }
    /* End Section6 */
    /* Cast */
    .slider {
        width: 640px;
    }
}